:root {
  --primary-color: #005f73;
  --primary-color-weak: #4a5568;
  --secondary-color: #ee6c4d;
  --secondary-color-weak: #f7fafc;

  --primary-text: #1a202c;
}

body {
  margin: 0;
  background: var(--secondary-color-weak);
  color: var(--primary-text);
}
