[submodule "sketch/deps/r4-wifi-manager"]
	path = sketch/deps/r4-wifi-manager
	url = https://github.com/soonick/r4-wifi-manager.git
[submodule "sketch/deps/ArduinoHttpClient"]
	path = sketch/deps/ArduinoHttpClient
	url = https://github.com/arduino-libraries/ArduinoHttpClient.git
