version: "3.8"

services:
  smart-fluid-flow-meter-backend:
    env_file: "../.env.sample"
    build:
      dockerfile: dockerfiles/dev
      context: ../
    environment:
      FIRESTORE_EMULATOR_HOST: 'firestore:8200'
      GOOGLE_APPLICATION_CREDENTIALS: "/service-account-key.json"
      ADRIAN: "good"
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - type: bind
        source: ../src
        target: /smart-fluid-flow-meter/src
      - type: bind
        source: ../tests
        target: /smart-fluid-flow-meter/tests
      - type: bind
        source: ../Cargo.toml
        target: /smart-fluid-flow-meter/Cargo.toml
      - type: bind
        source: ../Cargo.lock
        target: /smart-fluid-flow-meter/Cargo.lock
      - type: bind
        source: ../target
        target: /smart-fluid-flow-meter/target
    ports:
      - '3000:3000'
    expose:
      - '3000'
    command: >
      sh -c "cargo watch -x run"

  mysql:
    image: mysql:8.3.0
    environment:
      MYSQL_DATABASE: 'smart-fluid-flow-meter-backend'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    volumes:
      - type: bind
        source: ../assets/fixtures/mysql
        target: /fixtures/
    ports:
      - '3306:3306'
    expose:
      - '3306'
    healthcheck:
        test: "mysqladmin ping -h localhost --user=$$MYSQL_USER --password=$$MYSQL_PASSWORD && mysql -h localhost --user=root --password=$$MYSQL_PASSWORD --database $$MYSQL_DATABASE < /fixtures/init.sql"
        timeout: 20s
        retries: 10
